[Unit]
Description=load the bcmdhd module and firmware files on early boot
Wants=systemd-udev-settle.service
After=local-fs.target systemd-udev-settle.service systemd-tmpfiles-setup.service
Before=lipstick.service droid-hal-init.service
DefaultDependencies=no
Conflicts=shutdown.target
# Lets not do Requires= here as that means that this service will restart which leads automatically
# to broken state as android init can be only started once per boot. If something goes wrong
# our best hope is that android init doesn't notice that and that the crashing party fixes itself :)

[Service]
ExecStart=/sbin/insmod bcmdhd.ko firmware_path=/vendor/firmware/fw_bcmdhd.bin nvram_path=/vendor/firmware/nvram_net.txt 

[Install]
WantedBy=multi-user.target
